<h3 style="text-align: center;" class="title"><i>Forgot Password Form</i></h3>
<form [formGroup]="StaffForgotPassForm" #StaffLoginDetails (ngSubmit)=saveStaffForgotPassLogin()>
  <table>
<tr>
    <th>LoginID</th>
    <td><input type="number" required  class="form-control" name="id" formControlName="loginId"></td>
</tr>

<tr>
    <th>Password</th>
    <td><input type="password" class="form-control" name="pwd" formControlName="password" required></td>
</tr>

<tr>
    <th><label>Confirm Password</label></th>
    <td><input type="password" class="form-control" name="confirmPwd" formControlName="cpassword" required></td>
</tr>
 

<tr>

  <td></td>
  <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="submit" class="btn btn-success" >Submit</button>&nbsp;<button type="submit" class="btn btn-danger">Reset</button></td>
</tr>

</table>
</form>
