<div class="container-fluid mb-3">
    <h1 class="title"><b><i>Student Signup Form</i></b></h1>
    <form [formGroup]="StudentSignUpForm" #studentSignupDetails (ngSubmit)=saveStudentPersonal()>
      <table>
         <tr>
          <th>Personal Id</th>
          <td><input type="number" required  class="form-control" name="id" formControlName="personalId"></td>
      </tr>
    <tr>
        <th>Roll No</th>
        <td><input type="number" required  class="form-control" name="id" formControlName="rollNo"></td>
    </tr>
  
    <tr>
        <th>First Name</th>
        <td><input type="text" class="form-control" name="firstName" formControlName="firstName" required></td>
    </tr>
  
    <tr>
        <th><label>Last Name</label></th>
        <td><input type="text" class="form-control" name="lastName" formControlName="lastName" required></td>
    </tr>
  
      <tr>
        <th><label>Date of Birth</label></th>
        <td><input type="date" class="form-control" name="dob" formControlName="dateOfBirth" required></td>
      </tr>
  
      <tr>
        <th rowspan="2"><label>Gender</label></th>
        <td>
          <input type="radio" formControlName="gender" name="gender" value="Male">
          <label>Male</label>
        </td>
        </tr>
        <tr>
        <td>
          <input type="radio" formControlName="gender" name="gender"  value="Female">
          <label>Female</label>
        </td>
      </tr>
  
      <tr>
        <th><label>Email</label></th>
       <td><input type="email" class="form-control" name="email" required  formControlName="email"></td>
      </tr>
  
      <tr>
        <th><label>Contact Number</label></th>
        <td><input type="tel" class="form-control"  required  name="contactNo" formControlName="contactNo"></td>
      </tr>
  
      <tr>
        <th><label>Address</label></th>
        <td><textarea rows="5" cols="50" class="form-control" name="address" formControlName="address" required></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" type="submit">Submit</button>&nbsp;<button class="btn btn-success" type="reset">Reset</button></td>
        
    </tr>
    </table>
    </form> 
      
      <!-- <button (click)="getDetails(StudentSignUpForm.get('rollNo')?.value)" class="btn btn-primary">VIEW PROFILE</button>-->
        
    
    </div>

