<div>
    <mat-tab-group id="tabs" backgroundColor="primary" color="warn">
        <mat-tab label="Home" id="color">
          <h1 id="content">Welcome to Student Section</h1>
        </mat-tab>
        <mat-tab label="Proceed to Enrollment"><app-add-enrollment-details></app-add-enrollment-details></mat-tab>
        <mat-tab label="View Enrollment Details"><app-view-enrollment-details></app-view-enrollment-details></mat-tab>
        <mat-tab label="View Timetable"><app-list-time-table-details></app-list-time-table-details></mat-tab>
        <mat-tab label="View Profile"><app-view-profile></app-view-profile></mat-tab>
        <mat-tab label="Update Profile"><app-update-student-details></app-update-student-details></mat-tab>
        <mat-tab label="Logout"><app-main></app-main></mat-tab> 
      </mat-tab-group>
  </div>
  
