<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="max-width:500px" class="mx-auto mt-5">
          <h3 class="text-center"><b><i>Login Form</i></b></h3>
          <!-- <p class="text-danger text-center">{{error}}</p> -->
          <!-- formData.get('loginId')?.value -->
          <form [formGroup]="formData" (ngSubmit)="login(formData.value)">
            <!-- <div class="form-group">
              <label for="loginId">User Id</label>
              <input type="number" formControlName="loginId" name="loginId" id="loginId" class="form-control" required="required">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-success mt-3 mb-3">
              &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="create" class="btn btn-success mt-3 mb-3">
            </div>
            <div class="form-group">
             
            </div> -->
  
  
            <table>
              <tr>
              <td><label for="loginId">UserName</label></td>
              <td><input type="number" formControlName="userName" name="userName" id="userName" class="form-control" required="required"></td>
            </tr>
           <tr>
              <td><label for="password">Password</label></td>
              <td><input type="password" formControlName="password" name="password" id="password" class="form-control"></td>
            </tr>
            <tr>
             
             <td><input type="submit"  value="Login" class="btn btn-success mt-3 mb-3"></td>
             <td>
              <button class="btn btn-info" (click)="onClickMe()">Forgot Password</button>
           </td>
            
          </tr>
             
           <td>
             <tr><a href="addStudentPersonal">New user? Create Account</a></tr>
           </td>
          </table>
          </form>
        </div>
      </div>
    </div>
  </div>


