<div class="container-fluid">
    <h3 class="title" style="text-align: center;">HOD Details</h3>
    <table  class="table table-hover table-sm" >
<tbody>  
          
        <tr><th> First Name</th> <td>{{hodParticular?.firstName}}</td></tr>   
        <tr><th> Last Name </th> <td>{{hodParticular?.lastName}}</td> </tr>
        <tr><th> Gender </th>  <td>{{hodParticular?.gender}}</td></tr> 
        <tr><th> Date Of Birth </th> <td>{{hodParticular?.dateOfBirth}}</td> </tr>
        <tr><th> Qualification</th> <td>{{hodParticular?.qualification}}</td> </tr>
        <tr><th> Email</th> <td>{{hodParticular?.email}}</td></tr>
        <tr><th> Contact No</th> <td>{{hodParticular?.contactNo}}</td> </tr>
        <tr><th> Address </th>  <td>{{hodParticular?.address}}</td> </tr>
        <tr><td><button (click)="onSubmit()" class="btn btn-primary">Back To Home</button></td></tr>
        
 </tbody> 
 </table>
</div>  

 
