<div class="panel panel-default">
    <h1 class="title" style="text-align:center"><b><i>Time Table Details</i></b></h1>
    <form [formGroup]="TimeTableViewForm" #timeTableDetails (ngSubmit)="onSubmit()">
    <table>
        <tr>
            <th>Department</th>
            <td><select class="custom-select" style="height: 35px" name="department" formControlName="deptId">
              <option value="">Select Your Department</option>
              <option>21</option>
              <option>22</option>
              <option>23</option>
              <option>24</option>
              <option>25</option>
              <option>26</option>
              <option>27</option>
              <option>28</option>
              <option>29</option>
            </select></td>
          </tr>
        <tr>
                <th>Semester</th>
                <td><select class="custom-select" style="height: 35px" name="semester" formControlName="semester">
                  <option value="">Select Your Semester</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  </select></td>
        </tr>
        <tr>
            <td></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" type="submit">Submit</button>&nbsp;<button class="btn btn-danger" type="reset">Reset</button></td>
        </tr>
    </table>
</form>
</div>
 <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"  
    [dtTrigger]="dtTrigger">
      <tr>
          <th>Day</th>
          <th>Period One</th>
          <th>Period Two</th>
          <th>Period Three</th>
          <th>Period Four</th>
          <th>Period Five</th>
          <th>Period Six</th>
          <th>Period Seven</th>
          <th>Period Eight</th>
          </tr>
      <tr *ngFor="let timeTableDetails of timeTableDetailsList">
            <td>{{timeTableDetails.day}}</td>
            <td>{{timeTableDetails.periodOne}}</td>
            <td>{{timeTableDetails.periodTwo}}</td>
            <td>{{timeTableDetails.periodThree}}</td>
            <td>{{timeTableDetails.periodFour}}</td>
            <td>{{timeTableDetails.periodFive}}</td>
            <td>{{timeTableDetails.periodSix}}</td>
            <td>{{timeTableDetails.periodSeven}}</td>
            <td>{{timeTableDetails.periodEight}}</td>
            <!-- <td><button (click)="deleteCourse(courseDetails.courseCode)" class="btn btn-primary">Delete</button></td>
            <td><button (click)="updateCourse(courseDetails.courseCode)" class="btn btn-primary">Update</button></td> -->
      </tr>
      </table> 
   

