<div class="container-fluid">
    <h3 class="title" style="text-align: center;">VIEW PARTICULAR STUDENT</h3>
    <table  class="table table-hover table-sm" >
<tbody>  
          
        <tr><th> First Name</th> <td>{{studentParticular?.firstName}}</td></tr>   
        <tr><th> Last Name </th> <td>{{studentParticular?.lastName}}</td> </tr>
        <tr><th> Gender </th>  <td>{{studentParticular?.gender}}</td></tr> 
        <tr><th> Date Of Birth </th> <td>{{studentParticular?.dateOfBirth}}</td> </tr>
        <tr><th> Email</th> <td>{{studentParticular?.email}}</td></tr>
        <tr><th> Address </th>  <td>{{studentParticular?.address}}</td> </tr>
        <tr><th> Contact No</th> <td>{{studentParticular?.contactNo}}</td> </tr>
        
 </tbody> 
 </table>
</div>  

 

