<div>
  <mat-tab-group id="tabs" backgroundColor="primary" color="warn">
      <mat-tab label="Home" id="color">
        <h1 id="content"> Welcome to HOD Section</h1>
       </mat-tab>
      <mat-tab label="Add Student"><app-add-student></app-add-student></mat-tab>
      <mat-tab label="Add Teacher"><app-staff-assign></app-staff-assign></mat-tab>
      <mat-tab label="Add Course"><app-add-course-details></app-add-course-details></mat-tab>
      <mat-tab label="View Course"><app-list-course-details></app-list-course-details></mat-tab>
      <mat-tab label="Assign staff for courses"><app-staff-course-assign></app-staff-course-assign></mat-tab>
      <mat-tab label="Add Timetable"><app-add-timetable-details></app-add-timetable-details></mat-tab>
      <mat-tab label="View Timetable"><app-list-time-table-details></app-list-time-table-details></mat-tab>
      <mat-tab label="View Student"><app-student-assign-list></app-student-assign-list></mat-tab>
      <mat-tab label="View Teacher"><app-staff-list-by-id></app-staff-list-by-id></mat-tab>
      <!--<mat-tab level="Staff Login Credentials"><app-staff-login></app-staff-login></mat-tab> -->
      <mat-tab label="View Profile"><app-hod-view-profile></app-hod-view-profile></mat-tab>
      <mat-tab label="Update Profile"><app-update-hod-details></app-update-hod-details></mat-tab>
      <mat-tab label="Logout"><app-main></app-main></mat-tab>
    </mat-tab-group>
</div>
