<div class="container-fluid">
    <h3 style="text-align: center;"><b><i>UPDATING ASSIGNED STUDENT DETAILS</i></b></h3>
 <form (ngSubmit)="onSubmit()">
  <table>   
    <tr>
    <th>NAME</th>
        <td><input type="text"  class="form-control" name="name" [(ngModel)]="studentAssign.name"></td>
       
    </tr>
    <!--<tr>
      <th>ROLLNO</th>
        <td><input type="number" class="form-control" name="rollNo"  formControlName="rollNo"></td>
    </tr>-->
     
    <tr>
    <th>JOINING DATE</th>
     <td><input type="date" class="form-control" name="joiningDate" [(ngModel)]="studentAssign.joiningDate"></td>
     </tr> 

     <tr>
    <th>DEPARTMENT ID</th>
       <td><select class="custom select" style="height: 35px;" class="form-control" name="deptId" [(ngModel)]="studentAssign.departmentId">
         <option value="Id" selected>Select Your Department</option>
         <option>21</option>
         <option>22</option>
         <option>23</option>
         <option>24</option>
         <option>25</option>
         <option>26</option>
         <option>27</option>
         <option>28</option>
         <option>29</option>
      </select>
      </td>
    </tr>
    
    <tr>
      <td></td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" class="btn btn-success">UPDATE</button>&nbsp;&nbsp;
    <button type="button" class="btn btn-danger">CANCEL</button></td>
      </tr>
    </table>
    
   

    </form>
    </div>
